.pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  user-select: none; }
  .pagination li {
    padding: 8px 12px;
    border-radius: 4px;
    list-style: none; }
    .pagination li a {
      color: black;
      outline: none;
      text-decoration: none; }
  .pagination li.disabled {
    color: gray;
    cursor: not-allowed; }
    .pagination li.disabled a {
      pointer-events: none;
      color: gray; }
  .pagination li.cur {
    background-color: #ee6e73; }
    .pagination li.cur a {
      color: white; }
