.data-table-sort {
  display: flex;
  flex-direction: column;
  margin-left: 5px; }
  .data-table-sort img {
    width: 10px;
    height: 10px; }
  .data-table-sort a {
    display: flex;
    opacity: 0.2; }
  .data-table-sort a:first-child {
    align-items: flex-end; }
    .data-table-sort a:first-child img {
      transform: rotate(180deg); }
  .data-table-sort a:last-child {
    align-items: flex-start; }
  .data-table-sort a.active {
    opacity: 1; }
